@import "reset.css";
@import "https://fonts.googleapis.com/css2?family=Chivo:wght@400;900&family=Nunito:wght@400;900&display=swap";

/* Global */
:root {
  --background: #f4f4f4;
}

body {
  background-color: var(--background);
  overflow: hidden;
}

h1 {
  font-family: Nunito, sans-serif;
  font-size: 3.6rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 900;
}

p {
  font-family: Chivo, sans-serif;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: rgb(105 105 201);
}

ul {
  font-size: 1.6rem;
  list-style-type: square;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* app */

.app {
  display: flex;
  letter-spacing: 0.13rem;
}

/* Left Side */

.logo {
  width: 15rem;
  height: 15rem;
  margin: 1rem;
}

.super {
  font-size: 2.5rem;
  color: rgb(173 93 93);
}

.cheap {
  color: rgb(64 64 142);
}

.left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.left-side-header {
  display: flex;
  align-items: center;
}

.left-side-content {
  height: 65%;
  overflow: scroll;
  margin-left: 2rem;
  padding: 2rem;
  max-width: 80%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  border-radius: 15px;
  box-shadow: 0 0 10px #7f7f7f;
}

.principal-text {
  font-weight: 900;
  font-size: 3rem;
}

/* Right side */
.right-side {
  width: 50%;
  min-height: 100vh;
  background-image: url("img/background.svg");
  background-size: cover;
  border-radius: 75% 0 0% 75%;
  position: relative;
}

.right-side-mercadona {
  width: 41.6rem;
  height: 41.4rem;
  position: absolute;
  left: -10.93%;
  right: 47.67%;
  bottom: 62.85%;
  top: 0%;
  transform: rotate(-25.23deg);
}

.right-side-carrefour {
  width: 55.6rem;
  height: 20rem;
  position: absolute;
  top: 25.5%;
  left: 25%;
  transform: rotate(-24deg);
}

.right-side-lidl {
  width: 41.6rem;
  height: 26.2rem;
  position: absolute;
  top: 65%;
  right: 55%;
  transform: rotate(10deg);
}

.right-side-carrefour img {
  filter:
    drop-shadow(4px 4px 4px black)
    drop-shadow(6px 6px 4px black);
}

.right-side-lidl img {
  filter: drop-shadow(5px 5px 4px black);
}

.right-side-mercadona img {
  filter: drop-shadow(4px 4px 4px black);
}
